body{
    width: 90vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center

    box-sizing: border-box;

    background-color: rgb(206,175,152);
}

.navbar-brand{
    all: unset;
}
.navbar-brand:hover{
    cursor: pointer;
}

/*GRID*/

/*
.contenedor-tarjetas{
    display: grid;
    justify-content: center;
    width: 80vw;
    grid-template-columns: repeat(4,1fr);
    gap: 2em;
    margin: 2em;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3em;
}

.tarjeta:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.product{
    width: 35rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    display: flex;
    justify-content:center;
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}*/


.card-body {
    padding: 0;
}